BPEL/BpelModule/src/DeliveriesService.wsdl

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soap.ws.udc.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.udc.es/" name="DeliveriesProviderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://soap.ws.udc.es/" schemaLocation="DeliveriesService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="addCustomer">
        <part name="parameters" element="tns:addCustomer"/>
    </message>
    <message name="addCustomerResponse">
        <part name="parameters" element="tns:addCustomerResponse"/>
    </message>
    <message name="SoapInputValidationException">
        <part name="fault" element="tns:SoapInputValidationException"/>
    </message>
    <message name="deleteCustomer">
        <part name="parameters" element="tns:deleteCustomer"/>
    </message>
    <message name="deleteCustomerResponse">
        <part name="parameters" element="tns:deleteCustomerResponse"/>
    </message>
    <message name="SoapCustomerWithShipmentsException">
        <part name="fault" element="tns:SoapCustomerWithShipmentsException"/>
    </message>
    <message name="SoapInstanceNotFoundException">
        <part name="fault" element="tns:SoapInstanceNotFoundException"/>
    </message>
    <message name="updateCustomer">
        <part name="parameters" element="tns:updateCustomer"/>
    </message>
    <message name="updateCustomerResponse">
        <part name="parameters" element="tns:updateCustomerResponse"/>
    </message>
    <message name="findCustomer">
        <part name="parameters" element="tns:findCustomer"/>
    </message>
    <message name="findCustomerResponse">
        <part name="parameters" element="tns:findCustomerResponse"/>
    </message>
    <message name="findCustomers">
        <part name="parameters" element="tns:findCustomers"/>
    </message>
    <message name="findCustomersResponse">
        <part name="parameters" element="tns:findCustomersResponse"/>
    </message>
    <message name="addShipment">
        <part name="parameters" element="tns:addShipment"/>
    </message>
    <message name="addShipmentResponse">
        <part name="parameters" element="tns:addShipmentResponse"/>
    </message>
    <message name="updateShipment">
        <part name="parameters" element="tns:updateShipment"/>
    </message>
    <message name="updateShipmentResponse">
        <part name="parameters" element="tns:updateShipmentResponse"/>
    </message>
    <message name="SoapInvalidUpdateStatusException">
        <part name="fault" element="tns:SoapInvalidUpdateStatusException"/>
    </message>
    <message name="cancelShipment">
        <part name="parameters" element="tns:cancelShipment"/>
    </message>
    <message name="cancelShipmentResponse">
        <part name="parameters" element="tns:cancelShipmentResponse"/>
    </message>
    <message name="findShipment">
        <part name="parameters" element="tns:findShipment"/>
    </message>
    <message name="findShipmentResponse">
        <part name="parameters" element="tns:findShipmentResponse"/>
    </message>
    <message name="findShipments">
        <part name="parameters" element="tns:findShipments"/>
    </message>
    <message name="findShipmentsResponse">
        <part name="parameters" element="tns:findShipmentsResponse"/>
    </message>
    <portType name="DeliveriesProvider">
        <operation name="addCustomer">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addCustomerRequest" message="tns:addCustomer"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addCustomerResponse" message="tns:addCustomerResponse"/>
            <fault message="tns:SoapInputValidationException" name="SoapInputValidationException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addCustomer/Fault/SoapInputValidationException"/>
        </operation>
        <operation name="deleteCustomer">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/deleteCustomerRequest" message="tns:deleteCustomer"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
            <fault message="tns:SoapCustomerWithShipmentsException" name="SoapCustomerWithShipmentsException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/deleteCustomer/Fault/SoapCustomerWithShipmentsException"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/deleteCustomer/Fault/SoapInstanceNotFoundException"/>
        </operation>
        <operation name="updateCustomer">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateCustomerRequest" message="tns:updateCustomer"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateCustomerResponse" message="tns:updateCustomerResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateCustomer/Fault/SoapInstanceNotFoundException"/>
            <fault message="tns:SoapInputValidationException" name="SoapInputValidationException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateCustomer/Fault/SoapInputValidationException"/>
        </operation>
        <operation name="findCustomer">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findCustomerRequest" message="tns:findCustomer"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findCustomerResponse" message="tns:findCustomerResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findCustomer/Fault/SoapInstanceNotFoundException"/>
        </operation>
        <operation name="findCustomers">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findCustomersRequest" message="tns:findCustomers"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findCustomersResponse" message="tns:findCustomersResponse"/>
            <fault message="tns:SoapInputValidationException" name="SoapInputValidationException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findCustomers/Fault/SoapInputValidationException"/>
        </operation>
        <operation name="addShipment">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addShipmentRequest" message="tns:addShipment"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addShipmentResponse" message="tns:addShipmentResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addShipment/Fault/SoapInstanceNotFoundException"/>
            <fault message="tns:SoapInputValidationException" name="SoapInputValidationException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/addShipment/Fault/SoapInputValidationException"/>
        </operation>
        <operation name="updateShipment">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateShipmentRequest" message="tns:updateShipment"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateShipmentResponse" message="tns:updateShipmentResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateShipment/Fault/SoapInstanceNotFoundException"/>
            <fault message="tns:SoapInvalidUpdateStatusException" name="SoapInvalidUpdateStatusException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateShipment/Fault/SoapInvalidUpdateStatusException"/>
            <fault message="tns:SoapInputValidationException" name="SoapInputValidationException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/updateShipment/Fault/SoapInputValidationException"/>
        </operation>
        <operation name="cancelShipment">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/cancelShipmentRequest" message="tns:cancelShipment"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/cancelShipmentResponse" message="tns:cancelShipmentResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/cancelShipment/Fault/SoapInstanceNotFoundException"/>
            <fault message="tns:SoapInvalidUpdateStatusException" name="SoapInvalidUpdateStatusException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/cancelShipment/Fault/SoapInvalidUpdateStatusException"/>
        </operation>
        <operation name="findShipment">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipmentRequest" message="tns:findShipment"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipmentResponse" message="tns:findShipmentResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipment/Fault/SoapInstanceNotFoundException"/>
        </operation>
        <operation name="findShipments">
            <input wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipmentsRequest" message="tns:findShipments"/>
            <output wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipmentsResponse" message="tns:findShipmentsResponse"/>
            <fault message="tns:SoapInstanceNotFoundException" name="SoapInstanceNotFoundException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipments/Fault/SoapInstanceNotFoundException"/>
            <fault message="tns:SoapInputValidationException" name="SoapInputValidationException" wsam:Action="http://soap.ws.udc.es/DeliveriesProvider/findShipments/Fault/SoapInputValidationException"/>
        </operation>
    </portType>
</definitions>
