BPEL/CompositeApp1/src/jbiServiceUnits/CompositeApp1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="CompositeApp1"
             xmlns:tns="CompositeApp1" xmlns:ns="http://rs.udc.es/crm" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://rs.udc.es/reward" xmlns:ns2="http://rs.udc.es/delivery" xmlns:ns3="http://j2ee.netbeans.org/wsdl/BpelModule/src/BusinessClient" xmlns:ns4="http://j2ee.netbeans.org/wsdl/BpelModule/src/ShipmentConfirmClient" xmlns:ns5="http://j2ee.netbeans.org/wsdl/BpelModule/src/DeliveredConfirmationStatus">
    <import namespace="http://rs.udc.es/crm" location="../jbiServiceUnits/BpelModule/CrmService.wsdl"/>
    <import namespace="http://rs.udc.es/reward" location="../jbiServiceUnits/BpelModule/RewardService.wsdl"/>
    <import namespace="http://rs.udc.es/delivery" location="../jbiServiceUnits/BpelModule/DeliveryService.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/BpelModule/src/BusinessClient" location="../jbiServiceUnits/BpelModule/BusinessClient.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/BpelModule/src/ShipmentConfirmClient" location="../jbiServiceUnits/BpelModule/ShipmentConfirmClient.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/BpelModule/src/DeliveredConfirmationStatus" location="../jbiServiceUnits/BpelModule/DeliveredConfirmationStatus.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:CrmProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getOrder">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CrmException">
                <soap:fault name="CrmException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:RewardProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="isRewardMembership">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getProductReward">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="addMembershipReward">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeMembershipReward">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getMembershipReward">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:DeliveryProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createShipment">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="DeliveryException">
                <soap:fault name="DeliveryException" use="literal"/>
            </fault>
        </operation>
        <operation name="findShipment">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="DeliveryException">
                <soap:fault name="DeliveryException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeStatus">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="DeliveryException">
                <soap:fault name="DeliveryException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:BusinessClientPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="BusinessClientOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="CompositeApp1"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:ShipmentConfirmClientPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ShipmentConfirmClientOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:DeliveredConfirmationStatusPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DeliveredConfirmationStatusOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </input>
        </operation>
    </binding>
    <service name="CompositeApp1Service1">
        <port name="CrmProvider" binding="tns:casaBinding1">
            <soap:address location="http://localhost:7070/rs-deliveries-wscontrib/services/CrmService"/>
        </port>
    </service>
    <service name="CompositeApp1Service2">
        <port name="RewardProvider" binding="tns:casaBinding2">
            <soap:address location="http://localhost:7070/rs-deliveries-wscontrib/services/RewardService"/>
        </port>
    </service>
    <service name="CompositeApp1Service3">
        <port name="DeliveryProvider" binding="tns:casaBinding3">
            <soap:address location="http://localhost:7070/rs-deliveries-wscontrib/services/DeliveryService"/>
        </port>
    </service>
    <service name="CompositeApp1Service4">
        <port name="BusinessClient" binding="tns:casaBinding4">
            <soap:address location="http://localhost:5050/CompositeApp1/BusinessClient"/>
        </port>
    </service>
    <service name="CompositeApp1Service5">
        <port name="ShipmentConfirm" binding="tns:casaBinding5">
            <soap:address location="http://localhost:5050/CompositeApp1/ShipmentConfirmClient"/>
        </port>
    </service>
    <service name="CompositeApp1Service6">
        <port name="DeliveredConfirmation" binding="tns:casaBinding6">
            <soap:address location="http://localhost:5050/CompositeApp1/DeliveredConfirmationStatus"/>
        </port>
    </service>
</definitions>
